.root {
  margin-top: 150px;
  margin-bottom: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  text-align: center;
}

.carousel_container {
  width: auto;
}

.carousel_img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  width: 1000px;
  height: 800px;
}

.excerpt {
  margin-left: 10px;
  width: 700px;
  font-style: italic;
}

.carousel_content > * {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1000px;
}

.carousel_content a {
  color: black;
  text-decoration: underline;
}

.carousel_content img {
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  width: 700px;
  height: 500px;
}
.carousel_content figcaption {
  text-align: center;
}

.carousel_content p {
  margin-left: 10px;
  font-size: 16px;
}
