.border {
  border-top: 8x solid #d77900;
}

.l-header {
  box-shadow: 0 2px 8px 0 rgb(0 0 0 / 7%);
  border-top: 8x solid #d77900;
  margin-bottom: 1.5rem;
  padding-bottom: 1.5rem;
  padding-top: 1.5rem;
  width: 100%;
  z-index: 3;
  background: white;
  top: 0;
  position: fixed;
  display: block;
}

.l-constrain {
  padding-left: 2rem;
  padding-right: 2rem;
  margin-left: auto;
  margin-right: auto;
}

.l-header__primary {
  display: flex;
  position: relative;
}

.l-header__logo {
  padding-right: 15%;
  flex-grow: 0;
}

.site-name {
  overflow: hidden;
  width: 80px;
  height: 80px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  display: block;
  background-image: url('https://www.pnnl.gov/themes/gesso/images/pnnl-logo.svg');
}

.site-name__text {
  visibility: hidden;
}

.l-header__primary-right {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;
}

.l-header__utility {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  align-items: flex-end;
}

.menu--utility {
  display: block;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu__item {
  border-right: 1px solid #63666b;
  display: block;
  float: left;
  line-height: 1;
  padding: 3px 15px;
}

.menu__item_wo-border {
  display: block;
  float: left;
  line-height: 1;
  padding: 3px 15px;
}

.menu__link {
  border-bottom: 1px solid rgba(215, 121, 0, 0);
  color: #d77900;
  font-size: 0.625rem;
  font-weight: 600;
  letter-spacing: 0.06rem;
  text-transform: uppercase;
}

.l-header__search {
  padding-top: 1rem;
  margin-left: 1.5rem;
}

.site-search {
  display: flex;
  line-height: 1;
  width: 250px;
}

.form {
  display: flex;
  line-height: 1;
  width: 250px;
}

.textfield {
  background: #fff;
  border: 0;
  border-bottom: 1px solid #bebeb7;
  border-left: 1px solid #bebeb7;
  color: #63666b;
  font-size: 0.625rem;
  font-weight: 600;
  height: 25px;
  letter-spacing: 0.06rem;
  margin: 0;
  padding: 0 0.5rem;
  width: 100%;
}

.submit {
  color: transparent;
  font: 0/0 a;
  height: 25px;
  text-shadow: none;
  width: 25px;
  background-image: linear-gradient(transparent, transparent),
    url(data:image/svg+xml;charset=utf-8,%3Csvg%20id%3D%22Layer_1%22%20data-name%3D%22Layer%201%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2225%22%20height%3D%2225%22%20viewBox%3D%220%200%2025%2025%22%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill%3A%23fff%3B%7D%3C%2Fstyle%3E%3C%2Fdefs%3E%3Ctitle%3Esearch%3C%2Ftitle%3E%3Cpath%20class%3D%22cls-1%22%20d%3D%22M10.14%2C14.26A4.12%2C4.12%2C0%2C1%2C0%2C6%2C10.14%2C4.13%2C4.13%2C0%2C0%2C0%2C10.14%2C14.26Zm5.49%2C0%2C4.55%2C4.55-1.37%2C1.37-4.55-4.55V14.9L14%2C14.64a6%2C6%2C0%2C0%2C1-9.82-4.5%2C5.94%2C5.94%2C0%2C1%2C1%2C11.88%2C0A5.81%2C5.81%2C0%2C0%2C1%2C14.64%2C14l.26.26Z%22%2F%3E%3C%2Fsvg%3E);
  background-color: #63666b;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  border: 0;
  cursor: pointer;
  padding: 0;
}
