a {
  background-color: transparent;
  color: white;
  text-decoration: none;
}
h1 {
  font-size: 2.1875rem;
  font-weight: 400;
  letter-spacing: -2px;
  margin-bottom: 0.5em;
}
footer {
  display: block;
}
ul {
  list-style-type: disc;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}
li {
  margin-bottom: 0.75rem;
  display: list-item;
}
::selection {
  background: #dce4ef;
  color: #212121;
  text-shadow: none;
}

.l-footer {
  background-color: #000;
  padding: 3rem;
  position: relative;
  bottom: 0;
  width: 100%;
  height: 10%;
}

@media (min-width: 37.5em) {
  .l-constrain {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

.l-constrain {
  margin-left: auto;
  margin-right: auto;
  max-width: 101.25rem;
}

.l-constrain--narrow {
  max-width: 82.5rem;
}

@media (min-width: 59.375rem) {
  .l-footer__top {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    margin-left: -1rem;
    margin-right: -1rem;
  }
}

.l-footer__top {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  margin-left: -1rem;
  margin-right: -1rem;
}

@media (min-width: 59.375rem) {
  .l-footer__top > * {
    margin-bottom: 0;
  }
}

.l-footer__top > * {
  padding: 0 1rem;
  width: 100%;
}

@media (min-width: 59.375rem) {
  .l-footer__top-first {
    flex-basis: 170px;
    max-width: 170px;
  }
}
@media (min-width: 59.375rem) {
  .l-footer__top-first > * {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (min-width: 50em) {
  h1 {
    font-size: 3.4375rem;
  }
}

.l-footer__top-first {
  padding: 0 1rem;
  width: 100%;
}

.l-footer .site-name {
  background-image: url('https://www.pnnl.gov/themes/gesso/images/pnnl-logo-white.svg');
}

.site-name {
  height: 138px;
  overflow: hidden;
  width: 138px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  display: block;
}

.site-name__text {
  visibility: hidden;
}

.l-footer__top-second {
  width: 100%;
}

.l-footer__top-second .menu--footer {
  list-style-type: none;
  text-align: center;
  padding: 0px;
  zoom: 1;

  overflow: hidden;
  display: flex;
  flex-direction: row;
}
.l-footer__top-second li {
  display: inline-block;
  width: 100%;
}
.menu__link {
  border-bottom: 1px solid rgba(215, 121, 0, 0);
  color: #d77900;
  font-size: 0.625rem;
  font-weight: 600;
  letter-spacing: 0.06rem;
  text-transform: uppercase;
}

.menu__subnav li {
  width: 100%;
  display: table;
  margin: 0px auto 0px auto;
}

.menu__subnav {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 0;
}

ul ol,
ul ul {
  margin: 0.75rem 0 0;
}
ul ul {
  list-style-type: circle;
  margin-block-start: 0px;
  margin-block-end: 0px;
}

@media (min-width: 34.375em) {
  .menu--footer > .menu__item {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    margin-bottom: 0;
    max-width: 50%;
  }
}

.menu__item {
  flex-basis: 50%;
  margin-bottom: 0;
  max-width: 50%;
}

.menu--footer > .menu__item {
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  max-width: 100%;
}

.menu--footer > .menu__item > .menu__link {
  color: #fff;
  display: block;
  font-size: 0.8rem;
  font-weight: 700;
  line-height: 1.5;
  text-transform: uppercase;
}

.menu--footer .menu__subnav .menu__link {
  color: #ffffff;
  text-transform: uppercase;
}

.l-footer__top-third {
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  text-align: right;
  height: 18px;
}
.l-footer__subscribe::before {
  color: white;
  font-size: 0.8125rem;
  background-image: url('data:image/svg+xml;charset=utf-8,%3C!--%20Generated%20by%20IcoMoon.io%20--%3E%0A%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2216%22%20height%3D%2216%22%20viewBox%3D%220%200%2016%2016%22%3E%0A%3Ctitle%3Eenvelope%3C%2Ftitle%3E%0A%3Cpath%20fill%3D%22%23fff%22%20d%3D%22M14.5%202h-13c-0.825%200-1.5%200.675-1.5%201.5v10c0%200.825%200.675%201.5%201.5%201.5h13c0.825%200%201.5-0.675%201.5-1.5v-10c0-0.825-0.675-1.5-1.5-1.5zM6.23%208.6l-4.23%203.295v-7.838l4.23%204.543zM2.756%204h10.488l-5.244%203.938-5.244-3.938zM6.395%208.777l1.605%201.723%201.605-1.723%203.29%204.223h-9.79l3.29-4.223zM9.77%208.6l4.23-4.543v7.838l-4.23-3.295z%22%3E%3C%2Fpath%3E%0A%3C%2Fsvg%3E');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  content: '';
  display: inline-block;
  height: 18px;
  width: 18px;
  margin-right: 6px;
  vertical-align: text-bottom;
  text-decoration: none;
}

.l-footer__bottom {
  margin-left: -1rem;
  margin-right: -1rem;
  display: flex;
  justify-content: center;
}

.l-footer__bottom > * {
  padding: 0 1rem;
}

.l-footer__bottom-first {
  -webkit-box-align: end;
  align-items: flex-end;
  display: flex;
  -webkit-box-pack: center;
}
.l-footer__bottom-first > * {
  margin-right: 2rem;
}
.l-footer__bottom > * {
  padding: 0 1rem;
}
.l-footer__bottom-first > *:last-child {
  margin-right: 0;
}

.l-footer__logo {
  background-position: center center;
  background-repeat: no-repeat;
  display: block;
}

.l-footer__bottom-second {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  text-align: left;
  width: 50%;
  -webkit-box-pack: center;
  -webkit-box-align: end;
}

.copyright {
  color: #ffffff;
  font-size: 0.625rem;
  bottom: 0;
}

.l-footer__bottom-third {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  text-align: left;
  width: 50%;
  -webkit-box-pack: center;
  -webkit-box-align: end;
}

.l-footer__logo--doe {
  height: 37px;
  overflow: hidden;
  width: 131px;
  background-image: url('https://www.pnnl.gov/themes/gesso/images/doe-logo-white.svg');
  background-repeat: repeat-x;
  margin-right: 2rem;
}
.l-footer__logo--battelle {
  height: 25px;
  overflow: hidden;
  width: 151px;
  background-image: url('https://www.pnnl.gov/themes/gesso/images/battelle-logo-white.svg');
  background-repeat: no-repeat;
  background-size: 151px 25px;
}

li {
  display: list-item;
}

.menu--social {
  display: flex;
  -webkit-box-pack: start;
  justify-content: flex-start;
}

.menu__item {
  margin-bottom: 0;
}

.menu--social .menu--item {
  padding: 0 5px;
}

.menu__link--text {
  visibility: hidden;
}

.menu--social .menu__link {
  color: transparent;
  font: 0/0 a;
  height: 40px;
  text-shadow: none;
  width: 40px;
  display: block;
  transition: all 250ms ease-out;
  position: relative;
}

.menu__link--youtube {
  background-image: url('https://www.pnnl.gov/themes/gesso/images/social-icon-youtube--white.svg');
  background-repeat: repeat-y;
  background-position: center;
  color: #d77900;
}
.menu__link--facebook {
  background-image: url('https://www.pnnl.gov/themes/gesso/images/social-icon-facebook--white.svg');
  background-repeat: repeat-y;
  background-position: center;
}
.menu__link--twitter {
  background-image: url('https://www.pnnl.gov/themes/gesso/images/social-icon-twitter--white.svg');
  background-repeat: repeat-y;
  background-position: center;
}
.menu__link--instagram {
  background-image: url('https://www.pnnl.gov/themes/gesso/images/social-icon-instagram--white.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 40px 39px;
}
.menu__link--linkedin {
  background-image: url('https://www.pnnl.gov/themes/gesso/images/social-icon-linkedin--white.svg');
  background-repeat: repeat-y;
  background-position: center;
}

.menu--footer > .menu__item > .menu__link {
  color: #fff;
  display: block;
  font-weight: 700;
  line-height: 1.5;
  text-transform: uppercase;
}
.menu--footer .menu__subnav {
  font-size: 0.75rem;
  line-height: 1.5;
}
